<% include ../partials/header %>
<div class="container">
    <div class="row"></div>
    <h1 style="text-align: center;">Edit <%= campground.name %></h1>
    <div style="width: 30%; margin: 30px auto;">
        <form action="/campgrounds/<%= campground._id %>/edit?_method=PUT" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" value="<%= campground.name %>" name="campground[name]" >
            </div>
            <div class="form-group">
                <input class="form-control" type="text" value="<%= campground.image %>" name="campground[image]">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" value="<%= campground.description %>" name="campground[description]">
            </div>
             <div class="form-group">
                    <input id="searchTextField" class="form-control" type="text" name="campground[mapPlace]" size="50" value="<%= campground.mapPlace %>">
            </div>
            <div class="form-group">
                 <button class="btn btn-primary btn-large btn-block">Submit !</button>
            </div>
        </form>
        <a href="/campgrounds/<%= campground._id %>">Go Back</a>
    </div>
    
    </div>
</div>
<script>
    function initialize() {
    
    var input = document.getElementById('searchTextField');
    var autocomplete = new google.maps.places.Autocomplete(input);
    }
    google.maps.event.addDomListener(window, 'load', initialize)
</script>
<% include ../partials/footer %>